<div id="registerModal" class="modal hidden">
  <div class="modal-content">
    <button
      type="button"
      id="closeRegisterModal"
      class="close-modal"
      aria-label="Close"
    >
      &times;
    </button>
    <h2>🎉 Join Sleep Outside!</h2>
    <p>
      Register today for your chance to win a
      <strong>$100 Sleep Outside Gift Card</strong>.
    </p>

    <p>
      Members receive exclusive discounts, early access to new gear, and special
      promotions.
    </p>

    <form id="registerForm">
      <label for="registerName">Name</label>
      <input id="registerName" name="name" type="text" required />
      <label for="registerEmail"> Email</label>
      <input id="registerEmail" name="email" type="email" required />

      <button type="submit" class="register-btn" aria-label="Register Now">
        Register Now
      </button>
    </form>
  </div>
</div>
